#환경설정파일
/DOC/환경설정.txt

# Claude Code
.claude/

# env & secrets
*.env
.env.*
!*.example



# python
__pycache__/
*.pyc
## dev에서만 사용
RDG.py 

# node
FE/node_modules/

# docker artifacts
*.log

# venv (rdg에서 생성)
BE/scripts/venv/