blinker==1.9.0
click==8.1.8
colorama==0.4.6
dnspython==2.7.0
Flask==3.1.0
flask-cors==5.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
lz==0.11.1
MarkupSafe==3.0.2
memoir==0.0.3
mypy==0.991
mypy_extensions==1.1.0
paradigm==0.6.2
pymongo==4.12.1
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
reprit==0.9.0
six==1.17.0
typing_extensions==4.13.2
Werkzeug==3.1.3
